/* By using the universal selector, this resets elements on the page and gives control to edit thr website´s style from scratch */
*
{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-body
{
    background-color: black;
    background-image: url("images/background.JPG");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 1000px;
}

.backgrounds
{
    /* Color of all pages' backgrounds (except main page) */
    background-color: black;
}

/* MAIN MENU STARTS HERE */
nav
{
    /*border: 2px solid #FF0000;*/
    margin: 20px 40px 10px 0px;
    font-size: 14px;
}

nav span
{
    color: rgb(255, 0, 128);
}

#main-menu ul
{
    /* Removes bullets from list */
    list-style: none;
    text-align: right;
    /*background-color: indianred;*/
    /*font-size: 1vw;*/
}
#main-menu ul li
{
    display: inline;
    position: relative;
}

#main-menu ul li a
{
    color: white;
    padding: 10px;
    /* Removes underline and other decorations from link */
    text-decoration: none;
    /* Using inline "block" so the area around the font is also clickable */
    display: inline-block;
    border: 1px solid rgb(255, 0, 128);
    overflow: hidden;
    position: relative;
    transition: .4s;
    /*border-radius: 10px;*/
}

/* Menu-bar colours change when mouse is over it */ 
#main-menu ul li a:hover
{
    border: 1px solid rgb(161, 255, 0);
    box-shadow: 1px 1px 25px 10px rgba(161, 255, 0, 0.6);
}

#main-menu ul li a:before
{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(161, 255, 0, 0.6), transparent);
    transition: all 650ms;
}

#main-menu ul li a:hover:before
{
    left: 100%;
}

/* DROP-DOWN MENU STARTS HERE */
#main-menu ul ul
{
    display: none;
    position: absolute;
    /* Locks drop-down menu on the left side of the main tab it´s coming from */
    left: 0;
    text-align: center;
}

#main-menu ul li:hover ul
{
    display: block;
}

#main-menu ul ul li a
{
    display: block;
}

/* HOME PAGE CONTENT */
.banner
{
    /*border: 2px solid #FF0000;*/
    width: 100%;
    height: 50vh;
    margin-top: 8%;
    padding: 8%;
    color: white;
    text-align: left;
    /* This maintains the total size of the box regardless of changing the inside values */
    box-sizing: border-box;
    text-shadow: 2px 2px 5px gray;
    animation-duration: 3s;
    animation-name: slideIn;
}
@keyframes slideIn 
{
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.banner a
{
    text-decoration: none;
    border: 1px solid rgb(255, 0, 128);
    padding: 10px;
    color: rgb(255, 0, 128);
    text-shadow: 2px 2px 5px rgb(255, 0, 128);
    transition: 0.4s;
}

.banner a:hover
{
    color: rgb(161, 255, 0);
    text-shadow: 2px 2px 5px rgb(161, 255, 0);
    border: 1px solid rgb(161, 255, 0);
    box-shadow: 1px 1px 25px 10px rgba(161, 255, 0, 0.6);
}

.banner span
{
    color: rgb(255, 0, 128);
    text-shadow: 2px 2px 5px rgb(255, 0, 128);
}

.banner h1
{
    font-size: 60px;
}

.banner h2
{
    font-size: 25px;
}

/* PROJECTS PAGE STARTS HERE */

.container
{
   /* border: 1px solid rgb(255, 0, 128);*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}

.box
{
    /*border: 2px solid #FF0000;*/
    width: 400px;
    height: 400px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0px 0px 14px 6px rgba(255, 0, 128, 0.5);*/
}

/* The following will make the clickble area bigger */
.box:first-child a
{
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 180px 115px 180px 115px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;    
    /*border: 2px solid #FF0000;*/
}

.box:nth-child(2) a
{
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 180px 142px 180px 142px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px;     
    /*border: 2px solid #FF0000;*/
}

.box:last-child a
{
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 180px 108px 180px 108px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;      
    /*border: 2px solid #FF0000;*/
}

.box h1
{
    color: rgb(255, 0, 128);
}

.box:hover
{
    transition: 0.6s;
}

.box:first-child:hover
{
    
    box-shadow: rgba(161, 255, 0, 0.25) 0px 30px 60px -12px inset, rgba(161, 255, 0, 0.3) 0px 18px 36px -18px inset, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;    
    /*border: 2px solid #FF0000;*/
}

.box:nth-child(2):hover
{
    box-shadow: rgba(161, 255, 0, 0.25) 0px 30px 60px -12px inset, rgba(161, 255, 0, 0.3) 0px 18px 36px -18px inset, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;     
    /*border: 2px solid #FF0000;*/
}

.box:last-child:hover
{
    box-shadow: rgba(161, 255, 0, 0.25) 0px 30px 60px -12px inset, rgba(161, 255, 0, 0.3) 0px 18px 36px -18px inset, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.box a:hover h1
{
    transition: 0.6s;
    color: rgb(161, 255, 0);
}

/* ANIMATION, DESIGN AND ILLUSTRATION PAGES START HERE */
.page-title
{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 0, 128);
    margin-bottom: 40px;
    font-size: 30px;
}

.layout
{
    /*border: 2px solid #FF0000;*/
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.thumbnail-icon
{
    position: relative;
    box-shadow: 0px 0px 16px 6px rgba(255, 0, 128, 0.6);
    width: 300px;
    height: 300px;
}

.thumbnail-img
{
    display: block;
    width: 100%;
    height: 100%;
}

.thumbnail-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    opacity: 0;
    transition: 0.3s;
}

.thumbnail-overlay:hover
{
    opacity: 1;
}

.thumbnail-title
{
    font-size: 1.5em;
    font-weight: bold;
}

.thumbnail-description
{
    font-size: 0.8em;
    margin-top: 0.7em;
}

/* ABOUT AND CONTACT PAGES START HERE */
.profile-icon
{
    /*border: 2px solid #FF0000;*/
    width: 364px;
    height: 485px;
    box-shadow: 0px 0px 16px 6px rgba(255, 0, 128, 0.6);
}

.profile-img
{
    width: 100%;
    height: 100%;
}

.profile-info
{
    /*border: 2px solid #FF0000;*/
    width: 600px;
    height: 485px;
    box-sizing: border-box;
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 0px 16px 6px rgba(161, 255, 0, 0.6);
}

.heading
{
    font-size: 2em;
    line-height: 3em;
    color: rgb(161, 255, 0);
    text-shadow: 1px 1px 3px rgba(247, 247, 247, 0.6);
}

.role
{
    font-size: 1.2em;
    color: rgb(161, 255, 0);
    font-weight: normal;
}

.company
{
    font-size: 1em;
}

.location
{
    font-weight: normal;
    font-size: 1em;
}

.date
{
    font-style: italic;
    font-size: 0.9em;
}

/* CONTACT ME LINKS */
.contact-info
{
    /*border: 2px solid #FF0000;*/
    width: 600px;
    height: 485px;
    box-sizing: border-box;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 0px 16px 6px rgba(161, 255, 0, 0.6);
}

.email
{
    text-decoration: none;
    color: rgb(255, 0, 128);
    display: inline-block;
}

.email:hover
{
    color: rgb(161, 255, 0);
}

.social-networks
{
    /*border: 2px solid #FF0000;*/
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.social-img
{
    width: 80px;
    height: 80px;
}

.social-links > .social-img
{
    position: relative;
    top: 0px;
    transition: 0.4s;
}

.social-links > .social-img:hover
{
    position: relative;
    top: 5px;
}