/* Resets elements on the page and gives control to edit thr website´s style from scratch */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Font colours for the links in the main menu in the class "menu-bar" */
#main-menu ul
{
    /* Removes bullets from list */
    list-style: none;
    padding: 0;
    text-align: right;
    background-color: indianred;
}
#main-menu ul li
{
    display: inline;
    position: relative;
}

#main-menu ul li a
{
    color: rgb(0, 0, 0);
    padding: 1%;
    /* Removes underline and other decorations from link */
    text-decoration: none;
    /* Using inline "block" so the area around the font is also clickable */
    display: inline-block;
    transition: background .5s;
}

/* Menu-bar colours change when mouse is over it */ 
#main-menu ul li a:hover
{
    background-color: rgb(255, 255, 255); 
}

/* Drop-down menu */
#main-menu ul ul
{
    display: none;
    position: absolute;
    /* Locks drop-down menu on the left side of the main tab it´s coming from */
    left: 0;
    text-align: center;
    width: 100%;
}

#main-menu ul li:hover ul
{
    display: block;
}

#main-menu ul ul li a
{
    display: block;
}

.banner
{
    width: 100%;
    height: 100vh;
}

